.image_and_heading{
    background-image: url('../../assets/Images.svg');
    max-width: 1200px;
    height:758px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

   
}
.inside_image_para{
    
    width: 434px;
    height: 342px;
    margin-top: 160px;
    margin-left: 22px;
    
    

}
.only_para_part{
   
    width: 434px;
   
    height: 246px;
    gap: 18px;

}
.heading_of_para{
    
    width: 434px;
    height: 162px;
    font-size:26px;

}
.para_part{
    
    width: 433px;
    height: 66px;
    font-size:20px;

}
.button_para_1{
    width:120px;
    height: 35px;
    padding: 26px 49px 26px 48px;
    border-radius: 18px;
    gap: 10px;
    background-color:  #292F36;
    ;

}